.layout {
    padding: 20px 0;
    text-align: center;
}

.layout > div > div {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}

.layout > div:hover > div {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
}

.grid {
    padding: 20px 0;
}

.grid > div > div {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 2px;
    background: rgba(200, 200, 200, 0.1);
}

pre {
    text-align: start;
    height: 100%;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

.breadcrumblink {
    color: #000000;
}

.breadcrumblink:hover {
    color: #000000;
    cursor: pointer;
}

.jumbotron {
    padding: 20px;
    margin-bottom: 0px;
}