<div class="container">
    <div ng-controller="NXBoxController" class="row layout"
         ng-if="accessToken == null">
        <div class="jumbotron">
            <h2>Box users? Try Nuxeo!</h2>

            <p>By changing only the url of Box server to a Nuxeo server, you'll
                be able to browse your documents as usual!</p>
        </div>
        <div class="col-xs-6" ng-click="getToken('box')">
            <div>
                <img src="/images/box.jpg"
                     class="img-circle img-thumbnail">

                <h2>Box Repository with Box REST API</h2>

                <p>Via OAuth 2.0</p>
                <a class="btn btn-primary btn-large">Connect</a>
            </div>
        </div>
        <div class="col-xs-6" ng-click="getToken('nuxeo')">
            <div>
                <img src="/images/nuxeo.opng.png"
                     class="img-circle img-thumbnail">

                <h2>Nuxeo Repository with Box REST API</h2>

                <p>Via OAuth 2.0</p>
                <a class="btn btn-primary btn-large">Connect</a>
            </div>
        </div>
    </div>
    <div class="row layout alert alert-danger" ng-if="requestError!=null">HTTP
        {{requestError}}.
        A problem occurs.
        Refresh the page!
        Check if there is no CORS issue:
        <code>open /Applications/Google\ Chrome.app --args --disable-web-security</code>
        <button type="button" class="btn btn-danger"
                ng-click="refreshPage()">Refresh
        </button>
    </div>
    <div ng-if="accessToken!=null" class="grid">
        <tabset>
            <tab heading="Get">
                <div class="panel panel-primary">
                    <div class="panel-heading">Box API REST</div>
                    <div class="panel-body">
                        <div ng-if="restCalls!=null">
                            <p>Calls:</p>

                            <p ng-repeat="restCall in restCalls track by $index">
                                <code>GET {{restCall}}</code>
                            </p>

                            <div>
                                <button class="btn-xs btn-primary"
                                        ng-click="refreshPage()">
                                    Reset
                                </button>
                                <button class="btn-xs btn-primary"
                                        ng-click="isCollapsed = !isCollapsed">
                                    JSON Payload
                                </button>
                                <hr>
                                <div collapse="isCollapsed">
                                    <pre ng-if="accessToken != null && boxFolder!=null"><pre>{{boxFolder | json }}</pre></pre>
                                    <button class="btn-xs btn-primary"
                                            ng-click="isCollapsed = !isCollapsed">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Document</h4>

                    <div id="loadingWidget" class="row layout">
                        <div class="loadingContent">
                            <p>
                                <img alt="Loading  Content"
                                     src="/images/spinner.gif"/> Loading
                            </p>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Size</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Modified by</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{boxFolder.id}}</td>
                            <td>{{boxFolder.name}}</td>
                            <td>{{boxFolder.type}}</td>
                            <td>{{boxFolder.size}}</td>
                            <td>{{boxFolder.description}}</td>
                            <td>{{boxFolder.item_status}}</td>
                            <td>{{boxFolder.modified_by.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <h4>Children</h4>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="entry in boxFolder.item_collection.entries">
                            <td style="cursor:pointer"
                                ng-if="entry.type === 'folder'"><a
                                    ng-click="fetchFolder(entry.id)">{{entry.id}}</a>
                            </td>
                            <td style="cursor:pointer"
                                ng-if="entry.type === 'file'"><a
                                    ng-click="fetchFile(entry.id)">{{entry.id}}</a>
                            </td>
                            <td>{{entry.name}}</td>
                            <td>{{entry.type}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
        </tabset>
    </div>
    <div ng-if="accessToken != null" class="row layout">
        <button ng-click="clearToken()"
                class="btn btn-danger btn-large btn-primary"
                type="button">Disconnect
        </button>
        <button ng-click="fetchRoot()"
                class="btn btn-default btn-large btn-primary"
                type="button">Back to root folder
        </button>
    </div>
</div>